<h2>Log in</h2>
<form (submit)="login()" novalidate #f="ngForm">
  <div>
    <label for="email">Email:</label>
  </div>
  <div>
    <input type="text" id="email" name="email" [(ngModel)]="user.email" required>
  </div>
  <div>
    <label for="wachtwoord">Wachtwoord:</label>
    </div>
  <div>
    <input type="text" id="wachtwoord" name="wachtwoord" [(ngModel)]="user.wachtwoord" required>
  </div>
  <div>
    <button style="margin-top: 1em;" class="btn btn-primary" [disabled]="f.invalid">Login</button>
    <button style="margin-top: 1em; margin-left: 1em" class="btn btn-primary" routerLink="/gebruikers">Registreren</button>
  </div>
</form>
<p>{{message$ | async}}</p>
