<div class="gerbuikerRegistreren">
  <form (ngSubmit)="addGebruiker()" [formGroup]="gebruikerForm">
    <div>
      <label for="inputNaam">naam:</label>
      <input type="text" formControlName="naam" name="naam" id="inputNaam" class="form-control">
    </div>
    <div>
      <label for="inputEmail">E-mail address:</label>
      <input type="text" formControlName="email" name="email" id="inputEmail" class="form-control">
    </div>

    <div formGroupName="adres">
      <!--<div class="form-group">
        <label for="inputStraat">Straat:</label>
        <input type="text" id="inputStraat" value="straat" formControlName="straat" class="form-control">
      </div>-->
      <div>
        <label for="inputStraat">Straat:</label>
        <input type="text" formControlName="straat" name="straat" id="inputStraat" class="form-control">
      </div>
      <div>
        <label for="inputHuisnummer">Huisnummer:</label>
        <input type="text" formControlName="huisnummer" name="huisnummer" id="inputHuisnummer" class="form-control">
      </div>
      <div>
        <label for="inputPostcode">Postcode:</label>
        <input type="text" formControlName="postcode" name="postcode" id="inputPostcode" class="form-control">
      </div>
      <div>
        <label for="inputStad">Stad:</label>
        <input type="text" formControlName="stad" name="stad" id="inputStad" class="form-control">
      </div>
    </div>


    <div formGroupName="bezorgwijzen">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="thuis" formControlName="thuis">
        <label class="form-check-label" for="thuis">Thuis</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="magazijn" formControlName="magazijn">
        <label class="form-check-label" for="magazijn">Magazijn</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="versturen" formControlName="versturen">
        <label class="form-check-label" for="versturen">Versturen</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rembours" formControlName="rembours">
        <label class="form-check-label" for="rembours">Rembours</label>
      </div>
    </div>
    <div>
      <label><input type="checkbox" formControlName="tos" class ="form-control"> I Have Read the Terms of Service (required)</label>
    </div>
    <hr>
    <div>
      <button type="submit" [disabled]="gebruikerForm.invalid">Registreren</button>
    </div>
  </form>
</div>
