<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!--
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#resNav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img data-image="logo" class="navbar-header" width="50p" height="50" src="assets/img/cirkel-belastingdienst2.png" alt="">
    <a href="/home" class="navbar-brand">Marktplaats</a>
  </div>
  <div class="collapse navbar-collapse" id="resNav">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home(leeg)</a></li>
      <li><a routerLink="/gebruikers" routerLinkActive="activeMenu">Registreren</a></li>
      <li><a routerLink="/login" routerLinkActive="activemenu">Login</a></li>
      <li><a routerLink="/producten" routerLinkActive="activemenu">Producten</a></li>
      <li><a routerLink="/productregistratie" routerLinkActive="activemenu">Product aanbieden</a></li>
    </ul>
  </div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <img data-image="logo" class="navbar-header" width="50p" height="50" src="assets/img/cirkel-belastingdienst2.png" alt="">
    <a class="navbar-brand" href="/home">Marktplaats</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gebruikers">Registreren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/producten">Producten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productregistratie">Product aanbieden</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Jumbotron -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>  <!-- End of Jumbotron -->

<!-- Simple Article -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h3>Disclaimer:</h3>
        <p>Gebruik van de marktplaats op eigen risico :)</p>
       </div>
    </div>
  </div>
</div>  <!-- End of Simple Article -->
