<h2>Producten</h2>

<!--<app-search-contact></app-search-contact>-->
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Naam</th>
    <th scope="col">Prijs</th>
    <th scope="col">Categorie</th>
    <th scope="col">Soort</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr scope="row" *ngFor="let c of producten ">
    <td>{{c.naam}}</td>
    <td>{{c.prijs}}</td>
    <td>{{c.categorie.omschrijving}}</td>
    <td>{{c.soort}}</td>
    <td><button type="button" class="btn btn-primary" (click)="goToDetails(c.id)">Details</button></td>
  </tr>
  </tbody>
</table>
